<h1>Post a job</h1>
<div ng-controller="postController">
    <form>
        <input ng-model="postForm.title" type="text" name="title" placeholder="Job Title" /><br /><br />
        <input ng-model="postForm.description" type="text" name="description" placeholder="Job Description" /><br /><br />
        <input ng-model="postForm.keywords" type="text" name="keywords" placeholder="Keywords" /><br /><br />
        <input ng-model="postForm.location" type="text" name="location" placeholder="Location" /><br /><br />
        <button ng-click="postJob()">Save</button>
    </form>
</div>